#join-server-modal {
    background: #fff;
    position: absolute;
    width: 40vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border-radius:6px; */
    z-index: 2;
    box-shadow: 0px 2px 8px -2px #000;
    padding: 20px;
    box-sizing: border-box;
}

#join-server-modal .join-server-wrapper {
    border: 10px solid rgb(255, 238, 149);
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center */
}

#join-server-modal label {
    margin-bottom: 12px;
    margin-top: 24px;
    font-size: 18px;
}

#join-server-modal input[type="text"] {
    display: block;
    border: 0;
    padding: 14px 24px;
    outline: none;
    background: #f3f3f3;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.05em;
}

#join-server-modal input[type="text"]::placeholder {
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.05em;
    /* text-transform: uppercase; */
}

#join-server-modal button {
    font-family: "Lobster", cursive;
    background: transparent;
    box-sizing: border-box;
    border: 2px solid rgb(255, 70, 118);
    color: rgb(8, 9, 69);
    border-radius: 0;
    padding: 7px 12px;
    width: 160px;
    position: relative;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 24px;
    transition: all 0.3s ease-in-out;
}
