.waitingmodal {
	background: #fff;
	padding: 20px;
	box-sizing: border-box;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 30vw;
	max-width: 60vw;
	min-height: 40vh;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
}
