.empty-server-list {
    margin: 20px 0;
}
.empty-server-list .empty-state {
    height: 140px;
    background: url("../../../../../../assets/states/undraw_outer_space_3v6n.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.empty-server-list label {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    opacity: 0.35;
    font-size: 22px;
}
