.table {
  position: relative;
  width: 100%;
  background: red;
  display: flex;
  flex-direction: column;
}

.draft {
  height: auto;
  width: 100%;
  background: cadetblue;
}

.hand {
  bottom: 0;
  position: absolute;
  width: 100%;
  background: cornflowerblue;
  height: 120px;
  transition: height 0.4s ease-in-out;
  &:hover {
    height: 80%;
  }
  // &.opened {
  //   height: 100%;
  // }
}
