.card {
    width: 270px;
    height: 480px;
    box-sizing: border-box;
    padding: 15px;
    background: url("../../../../../../../assets/images/trianglify.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 100%;
    border-radius: 12px;
    -webkit-box-shadow: -10px 0px 52px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -10px 0px 52px -16px rgba(0, 0, 0, 0.75);
    box-shadow: -10px 0px 52px -16px rgba(0, 0, 0, 0.75);
    margin-left: -130px;
    transition: margin 0.2s ease-out;
    cursor: pointer;
    position: relative;
}

.card.selected {
    background-position: 100% 50%;
}

.card:first-of-type {
    margin-left: 0;
}

.card:nth-of-type(2) {
    margin-top: -2px;
}

.card:nth-of-type(3) {
    margin-top: 0px;
}

.card:nth-of-type(4) {
    margin-top: -2px;
}

.card:nth-of-type(5) {
    margin-top: 0px;
}

.card:hover {
    z-index: 1;
    margin-top: -140px;
}

.card-img-container {
    overflow: hidden;
    border-radius: 6px;
    position: relative;
    width: 100%;
    height: 100%;
}

.card-img {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    background-position: top;
    pointer-events: none;
}

.card button {
    z-index: 1;
    font-family: "Lobster", cursive;
    background: rgb(255, 70, 118);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 4px solid #fff;
    color: #fff;
    border-radius: 0;
    padding: 7px 12px;
    width: 160px;
    position: relative;
    cursor: pointer;
    display: block;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: absolute;
    width: 200px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
