.nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  margin-right: 20px;
  margin-left: 60px;
}

.list {
  display: flex;
  align-items: center;
  li {
    padding: 4px;
    margin: 0 15px;
    a {
      font-size: 16px;
    }
  }
}
