@import "@assets/css/_palette.scss";

.container {
	position: relative;
	&:hover {
		.dropdown {
			max-height: 400px;
		}
	}
}
.display {
	// background: blue;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.avatar {
	width: 40px;
	height: 0;
	padding-bottom: 40px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 10px;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.name {
	white-space: nowrap;
}

.dropdown {
	background: map-get($map: $color-map, $key: "hygge");
	width: 100%;
	overflow: hidden;
	max-height: 0;
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 40px;
	transition: all 0.3s ease-in-out;
	li {
		text-align: right;
		padding: 10px;
	}
}
