@import "@assets/css/_palette.scss";
.container {
	display: flex;
	align-items: center;
	a {
		white-space: nowrap;
		font-size: 16px;
		padding: 7px 12px;
	}
	.login {
	}
	.register {
		color: map-get($map: $color-map, $key: "chilli");
	}
}
