@import "assets/css/_palette.scss";

.container {
  height: 280px;
  width: 230px;
  background: map-get($map: $color-map, $key: "white");
  box-shadow: 10px 5px 40px rgba(207, 119, 243, 0.1),
    0px 5px 40px rgba(0, 155, 255, 0.1), -10px 5px 40px rgba(42, 201, 219, 0.1);
  margin: 10px 15px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}

.header {
  height: 60px;
  width: 100%;
  position: relative;
}

.logo {
  width: 74px;
  height: 74px;
  position: absolute;
  bottom: -37px;
  left: 50%;
  transform: translateX(-50%);
  cursor: default;
  user-select: none;
  background: transparent;
  border: 3px solid
    rgba(
      map-get($map: $color-map, $key: "breeze"),
      map-get($map: $opacity-map, $key: "dark-low")
    );
  border-radius: 50%;
  span {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 34px;
    transform: translate(-50%, -50%);
    background: map-get($map: $color-map, $key: "breeze");
    color: map-get($map: $color-map, $key: "white");
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.content {
  height: 150px;
  width: 100%;
  padding: 60px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: map-get($map: $opacity-map, $key: "dark-high");
}

.owner {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  opacity: map-get($map: $opacity-map, $key: "dark-low");
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 10px;
}

.footer {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  width: 100%;
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.players {
  display: flex;
  align-items: center;
  font-size: 14px;
  span:first-of-type {
    display: flex;
    align-items: center;
    &:after {
      content: "/";
      font-size: 10px;
      padding: 0 2px;
    }
  }
}

.mode {
  opacity: map-get($map: $opacity-map, $key: "dark-low");
}
