.gameroom-controls-info {
	height: 70px;
	min-height: 70px;
	background: #fff;
	display: flex;
	align-items: center;
	text-align: center;
}
.gameroom-controls-info label {
	text-align: center;
	display: block;
	margin: 0 auto;
	opacity: 0.7;
	font-size: 18px;
	font-family: "Lobster", cursive;
}

.gameroom-controls-info p {
	font-family: "Lato", sans-serif;
}
