.container {
  margin: 2px 0;
  display: flex;
  align-items: center;
  padding: 8px 12px;
}
.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 6px;
}

.progress {
  height: 12px;
  width: 100%;
  span {
    display: block;
    height: 100%;
  }
}

.points {
  width: 30px;
}

.progressContainer {
  display: flex;
  margin-top: 8px;
  align-items: center;
}
