.waitingmodal-players .waiting-player {
	border: 0;
	font-size: 4rem;
	position: relative;
	padding: 4px;
}

.waitingmodal-players {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.waiting-player .waiting-player-indicator {
	position: absolute;
	width: 16px;
	height: 16px;
	bottom: 0px;
	right: 0px;
	border: 4px solid #fff;
	border-radius: 50%;
}

.indicator-true {
	background: rgb(0, 178, 24);
}

.indicator-false {
	background: rgb(255, 70, 118);
}
