.container {
  //   background: yellow;
  margin: 2px 0;
  display: flex;
  align-items: center;
  padding: 8px 12px;
}
.avatarContainer {
  width: 30px;
  height: 30px;
  min-height: 30px;
  min-width: 30px;
  border-radius: 100%;
  background: black;
  margin-right: 12px;
}
.info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.progress {
  height: 12px;
  background: rgba(brown, 0.3);
  width: 100%;
  span {
    display: block;
    height: 100%;
    background: green;
  }
}

.points {
  width: 30px;
}

.progressContainer {
  display: flex;
  margin-top: 8px;
}
